/* ===================
共通
======================*/


/* ===================
header
======================*/
.header-body {
  background-color: #FFFCF8 !important;
}

.header-logo-img {
  width: 100%;
}

/* ===================
fv
======================*/



/* ===================
topページ
======================*/
.top-section-flow {
  background-color: #f8f8f8;
}